.register{ 
     .form_register{
         padding: 50px 100px !important;
         max-width: 50%;
         margin: auto;
         background-color: rgba(44, 42, 42, 0.772);
     }
    
     color: chocolate;
    }