    .footer{
        background-color: black;
        padding: 0;
        margin: 0;
        max-width: 100% !important;
        .top_footer{
            padding: 80px 0px 30px 0;
            max-width: 85%;
            margin: auto;
            border-bottom: 3px solid #E6E5A3;
            h5{
                color: #E6E5A3;
                text-align: center;
            }
            .about{
                padding-top: 20px;
                a{
                    font-size: 15px;
                    margin: 40px 0 20px 80px;
                    color: #A9AF7E;
                    text-decoration: none;
                    background-color: transparent;
                    transition: all 0.5s;
                }&:hover{
                    color: #6D9886;
                }
    
            }
    
            .partner{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 60px);
                 grid-gap: 15px;
                 padding: 30px 20px 0 20px;
    
                .logo_partner{
                    width: 50px;
                    height: 50px;
                    margin-left: 10px;
                    
                    img{
                        border-radius: 50%; 
                        border: 1px solid #3D0000;
                        width: 100%;
                        height: 100%;
                    } 
                }
             }
        
        .bank{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 60px);
            grid-gap: 15px;
            text-align: center;
            padding: 20px 20px 0 20px;
            margin: auto;
            .logo_bank{
                margin-top: 10px;
                width: 120px;
                height: 30px;
                img{
                    width: 100%;
                }
            }
        }
     }



    .bottom_footer{
        padding: 20px 0px 30px 0;
        max-width: 60%;
        margin: auto;
        font-size: 40px;
        .contact{
            display: flex;
            .logo_contact{
                margin-right: 10px;
            }
        }
        .app{
            text-align: right;
            display: flex;
            justify-content: end;
            h5{
                line-height: 80px;
                margin-right: 20px;
            }
            
        }
    }
    }


//reponsive
 @media screen and (max-width: 1200px) {
    .top_footer .about a{
        margin: 0 !important;
    }
}

@media screen and (max-width: 992px) {
    #footer{
        .top_footer{
            .about{
                display: flex ;
                justify-content: center;
                gap : 20px;
                padding: 5px 0 20px 0;
                a{
                        margin: 0 !important;
                        color: #6D9886;
                }
            }
            .bank .logo_bank{
                    width: 100px;              
            }
            h5{
                margin-top: 20px;
            }
        } 
    }
    
}

@media screen and (max-width: 768px) {
    .footer{
        .top_footer{
            border-bottom: 1px solid #E6E5A3;
            .partner {
                grid-template-columns: repeat(6, 1fr);
                border-bottom: 1px solid #A9AF7E;
                padding-bottom: 15px;
            }
            .bank{
                grid-template-columns: repeat(3, 1fr);
            }
            h5{
                margin-top: 40px ;
            }
        } 
        .bottom_footer{
            font-size: 30px;
            .logo_app{
                line-height: 60px !important;
                font-size: 18px;
            }
        }

    }

}

@media screen and (max-width: 576px) {
    .footer{
        .about{
            display: grid !important;
            grid-template-columns: repeat(2, 1fr) !important;
            justify-content: center !important;
            padding: 10px 0 20px 20px  !important;
            a{
                    margin: 0 !important;
                    color: #6D9886;
            }
        }
        .top_footer{
            .partner {
                grid-template-columns: repeat(4, 1fr);
            }
            .bank{
                grid-template-columns: repeat(3, 1fr);
                .logo_bank{
                    width: 80px;
                }
            }
            h5{
                font-size: 22px;
                margin-top: 40px ;
            }
        } 
        .bottom_footer{
            font-size: 20px;
            .logo_app{
                line-height: 30px !important;
            }
        }

    }
}